.panelContents {
  background-color: var(--mantine-color-gray-0);
  height: 100%;
  padding: 0 1rem;
  overflow: scroll;
  h2 {
    margin: 0;
    font-size: 1.5rem;
  }
}

.placeholder {
  height: 200px;
  background-color: #fff;
}
