.panelContents {
  background-color: var(--mantine-color-gray-0);
  height: 100%;
  padding: 0 1rem;
  h3 {
    margin: 0;
    padding: 1rem 0 0 0;
    font-size: 1.25rem;
  }
  p {
    margin: 0;
  }
  @media (min-width: $mantine-breakpoint-xs) {
    overflow-y: scroll;
  }
}

.placeholder {
  height: 200px;
  background-color: #fff;
}
