.main {
  height: 100%;
  width: 100%;
  position: absolute;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;

  @media (min-width: 600px) {
    justify-content: left;
  }
}
