.main {
  height: 100%;
  width: 100%;
  position: absolute;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;

  @media (min-width: $mantine-breakpoint-xs) {
    justify-content: left;
  }
}

.mapContainer {
  height: 50%;
  width: 100%;
  position: relative;
  @media (min-width: $mantine-breakpoint-xs) {
    height: 100%;
  }
}

.panel {
  height: 100%;
}
